@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:host{
    background-color: #363636;
}

.font-confortaa{
    font-family: 'Comfortaa', cursive;
}
.font-logo{
    font-size: 70px;
    background: linear-gradient(to bottom, #FE0202, #A60311);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative; 
    
}

.faixa{
    width: 41.94231rem;
    height: 4.9375rem;
    transform: rotate(-45deg); 
    background-color: #A60311; 
}