<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<div class="container text-center">
  <div class="row">
    <div class="col-4">
      
    </div>
    <div class="col-4">
      <h2 class="font-logo font-confortaa">Objetivo+</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="username">Username:</label><br>
            <input type="text" id="username" formControlName="username">
            <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
                <div *ngIf="loginForm.get('username')?.hasError('required')">Username é obrigatório.</div>
            </div>
          </div>

          <div>
            <label for="password">Password:</label><br> 
            <input type="password" id="password" formControlName="password">
            <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
              <div *ngIf="loginForm.get('password')?.hasError('required')">Password é obrigatória.</div>
            </div>
          </div>

          <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="col-4">
      
    </div>
  </div>
</div>

