<div class="row">
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4 ">
      <h2 class="font-logo font-confortaa text-center mt-5" style="font-size: 3.5rem;">Objetivo+</h2>
      <form (ngSubmit)="cadastrar()" >
        <div class="form-group mt-2">
          <label for="username">Nome de Usuario</label>
          <input type="text" id="username" name="username" [(ngModel)]="usuario.username" class="form-control" required>
        </div>
        <div class="form-group mt-2">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" [(ngModel)]="usuario.email" class="form-control" required>
        </div>
        <div class="form-group mt-2">
          <label for="password">Senha</label>
          <input type="password" id="password" name="password" [(ngModel)]="usuario.password" class="form-control" required>
        </div>
        <div style="text-align: center;" class="mt-4">
          <button type="submit"  class="btn btn-primary">Cadastrar</button>  
        </div>
        
      </form>
    </div>
    <div class="col-md-4">
      <div class="linhaUm"></div>
      <div class="linhaDois"></div>
    </div>
  </div>

