/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.font-confortaa{
    font-family: 'Comfortaa', cursive;
}
.font-logo{
    background: linear-gradient(to bottom, #FE0202, #A60311);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative; 
    
}

body {
    background-color: #363636;

}

.meta{
    background-color: #d9d9d9;
    border-radius: 1rem;   
}

.progresso{
    background-color: #A39C9C;
    height: 1,5rem;
}

a{
    color: inherit; /* Define a cor para herdar do elemento pai */
    text-decoration: none; /* Remove sublinhado */
}
a:hover{
    color: inherit;
}
li{
    list-style-type: none;
}
i{
    float:left;
}
